<% layout('./layouts/boilerplate.ejs') %>

<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
  }
  .terms_container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: hidden;
  }
  h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  p {
    line-height: 1.6;
  }
  .footer {
    text-align: center;
    margin-top: 30px;
    color: #666;
    font-size: 0.8rem;
  }
  @media only screen and (max-width: 600px) {
    .terms_container {
      padding: 15px;
      max-width: 90%; /* Adjusted for mobile */
      margin-top: 5rem;
      margin-bottom: 4rem;
    }
  }
</style>
<div class="terms_container">
  <h1>Terms and Conditions</h1>
  <p>
    Welcome to the terms of use (Terms of Use) for Prerogative. The Prerogative
    services, such as courses, content, instructor support, training platforms,
    and activities (collectively the Service) and website
    pg-internship.onrender.com, and applications (Site/ Platform) are operated
    by Prerogative (collectively, us, we or the Company). These terms apply to
    our applications, website, WhatsApp groups, Facebook groups, social media
    presence on platforms such as Facebook, Instagram.
  </p>
  <p>
    By accessing or using our Site or using our services, the user (you) signify
    that you have read, understood and agree to be bound by these Terms (in the
    manner provided for specifically).
  </p>
  <p>
    The Terms describes the basis on which you may access and use our Services.
  </p>
  <p>In addition to this document, the Terms consist of:</p>
  <ol>
    <li>Privacy Policy</li>
    <li>Intellectual Property Policy</li>
    <li>Placement Terms</li>
    <li>Credits Policy</li>
    <li>
      Additional conditions that may be applicable to specific Services obtain
      by you from us. For example, individuals accessing the ‘Career Camp’
      module would be bound by terms of the Deferred Payment Agreement, executed
      between us and the trainee.
    </li>
  </ol>
  <p>
    We may prevent, suspend or terminate your access to the Platform and the
    Services, if you do not agree to be bound by these Terms (or any subsequent
    amendment or modification to any such Term).
  </p>
  <p>
    We reserve the right to modify these Terms and may provide you (at our
    discretion) notification of such amendment/ modification. Your continued use
    of the Site indicates your acceptance of the amended Agreement.
  </p>
  <p>
    PLEASE READ THIS AGREEMENT CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION
    REGARDING YOUR LEGAL RIGHTS, REMEDIES AND OBLIGATIONS. THESE INCLUDE VARIOUS
    LIMITATIONS AND EXCLUSIONS, AND A DISPUTE RESOLUTION CLAUSE THAT GOVERNS HOW
    DISPUTES WILL BE RESOLVED.
  </p>
</div>
